<!doctype html>
<html lang="en">
<%- include('./header') %>
<body>
<div class="title"><%- title%></div>
<div class="textarea">
    <textarea name="text"><%- active%></textarea>
</div>
    <%- include('./buttons') %>
<script src="js/script.js"></script>
</body>
</html>
